.contentBox {
  height: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 2fr 8fr;
  background-color: rgb(181, 181, 181);
}

.contentBox .contentItem {
  background-color: rgb(181, 181, 181);
  margin: 20px;
  padding: 20px;
  text-align: center;
  overflow: scroll;
}

.buttonImage {
  width: 25vh;
  height: 25vh;
  margin: 1vh;
  transition: transform 15s;
  /* background-color: rgb(61, 61, 61); */
}

.buttonImage:hover {
  transform: rotate(360deg);
}

@media screen and (max-width: 790px) {
  .contentBox {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 8fr;
  }

  .contentBox .contentItem {
    margin: 10px;
    padding: 10px;
  }

  .buttonImage {
    width: 70px;
    height: 70px;
    transition: transform 1.5s;
    /* background-color: rgb(61, 61, 61); */
  }

  .buttonImage:hover {
    transform: rotate(360deg);
  }
}
