.contentBox {
  height: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 2fr 8fr;
}

.contentItem {
  background-color: rgba(181, 181, 181, 0);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  overflow: scroll;
}

.tooltip {
  display: inline;
}

.contentBox .contentItem p {
  background-color: rgba(181, 181, 181, 0.4);
  line-height: 1.7rem;
  letter-spacing: 0.2rem;
  border-radius: 10px;
  padding: 1.5rem;
}

.buttonImage {
  width: 20vh;
  height: 20vh;
  margin-bottom: 50px;
  transition: transform 1.5s;
}

.buttonImage:hover {
  transform: rotate(45deg);
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: rgba(181, 181, 181, 0.5);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

@media screen and (max-width: 1100px) {
  .contentBox {
    height: 98%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1.5fr 8fr;
  }

  .contentBox .contentItem {
    margin: 10px;
    padding: 10px;
  }

  .buttonImage {
    width: 70px;
    height: 70px;
    transition: transform 1.5s;
  }

  .buttonImage:hover {
    transform: rotate(360deg);
  }
}
