.appsContent {
  background-color: aqua;
  display: grid;
  grid-template-columns: 20% 80%;
}

.appIcon {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 1100px) {
  .appsContent {
    background-color: aqua;
    display: flex;
  }

  .appIcon {
    width: 100px;
    height: 100px;
  }
}
