html {
  width: 100vw;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  background-color: rgb(104, 124, 168);
  /* background-image: url("../images/windowFrame.png"); */
  background-size: 100vw 100vh;
}

.container {
  background-color: rgb(201, 217, 247);
  width: 94%;
  height: 90vh;
  margin-left: 3vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
