html {
  width: 100vw;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  margin: 0;
  background-color: rgb(181, 181, 181);
  /* background-image: url("../images/windowFrame.png"); */
  /* background-size: 100vw 100vh; */
}

canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}

.container {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 90vh;
  margin-left: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
